# Environment variables
.env

# Database
*.db
~/secret_santa_bot/secret_santa_bot/secret_santa.db

# Logs
*.log

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

~/secret_santa_bot/secret_santa.db
~/secret_santa_bot/secret_santa.log
~/*/secret_santa.cpython-310.pyc
secret_santa_bot/src/__pycache__/database.cpython-310.pyc
secret_santa_bot/src/cogs/__pycache__/secret_santa.cpython-310.pyc
